:root {
    --padding: 12px 24px;
    --padding_v: 12px;
    --padding_h: 24px;
    --main-shadow: #aaaaaa;
    --main-border: #cccccc;
    --verylightgrey: #eeeeee;
    --main-bg: white;
    --main-txt: #444444;
    --red: #c71b1e;
    --main-content-max-width: 1221px;
    --documentation-note-weight: normal;
    --ide-direction: horizontal;
}

.container.dark {
    --main-shadow: #000000;
    --main-border: #222222;
    --verylightgrey: #444444;
    --main-bg: #444444;
    --main-txt: #cccccc;
    --documentation-note-weight: bold;
}

* {
    margin: 0;
    box-sizing: border-box;
    transition: 0.5s;
    color: var(--main-txt);
}

body {
    transition: 0s !important;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding);
    background: var(--main-bg);
    box-shadow: 0 0 16px var(--main-shadow);
}

textarea {
    width: 100%;
    height: 320px;
    overflow-y: scroll;
    background: var(--main-bg);
    border: none;
    resize: none;
}

textarea:focus {
    outline: none;
}

.container {
    width: 100%;
    overflow-x: hidden;
    background: linear-gradient(var(--main-bg), var(--main-border));
}

.branding {
    display: flex;
    align-items: center;
    gap: 6px;
}

.main-content {
    margin: 52px auto 0 auto;
    padding: 32px 32px 0 32px;
    max-width: var(--main-content-max-width);
}

.ide {
    display: flex;
    gap: 32px;
    margin: auto;
    flex-direction: var(--ide-direction);
}

.card {
    background: var(--main-bg);
    width: 100%;
    border-radius: 16px;
    box-shadow: 0 0 16px var(--main-shadow);
    overflow: hidden;
}

.card--header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: var(--padding);
    box-shadow: 0 0 8px var(--main-shadow);
}

.card--body {
    padding: var(--padding);
}

#log {
    word-wrap: anywhere;
    white-space: break-spaces;
    height: 320px;
    overflow-y: scroll;
}

.action-button-tray {
    position: absolute;
    display: flex;
    gap: 8px;
    right: var(--padding_h);
    background: var(--main-bg);
    box-shadow: -32px 0 16px var(--main-bg);
}

.action-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 4px 8px;
    background: var(--main-bg);
    border-radius: 4px;
    border: 1px solid var(--main-border);
    box-shadow: none;
    user-select: none;
    white-space:nowrap;
}

.action-button:hover {
    background: var(--verylightgrey);
    box-shadow: 0 0 6px var(--main-border);
    cursor: pointer;
    transition: 0.175s;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul > li:not(:last-child) {
    margin-bottom: var(--padding_v);
}

.documentation--note {
    color: var(--red);
    font-weight: var(--documentation-note-weight);
    text-shadow:
        0 0 8px white,
        0px 1px 0 white,
        1px 0px 0 white,
        0px -1px 0 white,
        -1px 0px 0 white,
        1px 1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        -1px -1px 0 white;
}

.documentation--row {
    display: flex;
    align-items: center;
    padding: 16px 0;
    border-top: 1px solid var(--main-border);
}

.documentation--row:first-child {
    border: none;
}

.documentation--row > p {
    min-width: 256px;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 32px;
    text-align: center;
    opacity: 0.25;
}

@media only screen and (max-width: 610px) {
    :root {
        --ide-direction: column;
    }
}